@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import 'partial-file/general-config';


// font-family: 'Montserrat', sans-serif;

.header-area{
    background-color: #403f3f;
    width: 100%;
    height: 10vh;
    .mobile-menu-background{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5rem 0;
        
    }

    .logo{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .2rem ;
        color: #f7f7f7;    

}


.navbar-nav .nav-link{
   
    font-size: 1.6rem;
    color:#f7f7f7;
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 0.25rem 2rem;
    border-radius: .5rem;
    &:hover{
        background-color: #f37724;
        border-radius: .5rem;
    }
}

form button{
    font-size: 1.5rem;
    padding: 1rem 1.8rem;
    border-color: #f7f7f7;
    color: #f7f7f7;
    text-align: center;
    margin: 0 auto;
}
/* animated icon */
.button-animate{
   box-shadow: none;
}
.animated-icon2{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    
}

.animated-icon2 span{
    background: #f7f7f7;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.animated-icon2 span:nth-child(1) {
    top: 0px;
    }
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
        top: 10px;
        }
        
 .animated-icon2 span:nth-child(4) {
        top: 20px;
        }
 .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
        }
.animated-icon2.open span:nth-child(2){
    transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3){
    transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }        


}
.hero-area{
    background-color: #403f3f;
    .hero-section {
        
        padding: 3rem 1rem;

     .book-image img {
            box-shadow: .5rem .25rem .7rem .2rem rgba(0, 0, 0, 0.7), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.5);
        }
        .book-image{
            width: 70%;
            margin: 0 auto;
        }
     
        }
        

        .hero-description{
           
            text-align: center;
            color: #f7f7f7;
            margin:3em;
        }
        h5{
            margin: .5rem 0;
            color: #ffa366;
        }
        h2{
            font-size: 2rem;
            margin-top: 5rem;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: .1rem;
            margin-top: 2rem;
            text-align: center;
        }
        .chapter-info{
            margin-top: 2.5rem;
            span{
                padding-right: .5rem;
                letter-spacing: .1rem;
                display: block;
            }
            .btn{
                background: #ffa366;
                color: #f7f7f7;
                font-size: 1rem;
                font-weight: bold;
                padding: .5rem 2rem;
                &:hover{
                    background-color: #fa7923;
                }
            }
        }
    }
  
    .company-logo{
        background-color: #f6f6f6;
        .all-company-logo {
           
         .row>div{
                width:15%;
            }
        }
       

    }
    /*==== about-book====*/
    .about-book{
        p .author-name{
            font-size: 1.2rem;
            color:#ffa366;
            font-style: normal;
        }
        h2{
            font-size: 2rem;
            color: #2d2d2d;
            font-weight: bold;
        }
        .quote-img{
            width: 5%;
        }
        p{
            font-size: 1.2rem;
        }
        .image-container{
            width: 60%;
        }
    }

/*============chapter-area===============*/
.chapter-area{
    .subject{
        background-color: #f7f7f7;
        margin: .1rem 0;
        padding: 2rem 0;
    }
    .chapter-area-title{
        h2, p{
            color: #2d2d2d;
        }
    }
    h2{
        font-size: 2rem;
        margin-top: 3rem;
        font-weight: bold;
        color: #2d2d2d;
    }
    h5{
        font-size: 1.7rem;
        color: #2d2d2d;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: .1rem;
        color: #2d2d2d;
        text-align: center;
        padding: .5rem;
    }
    .chapter-01{
        background: #ffa366;
        h2, h5, p{
            color: #f6f6f6;
        }
    }
}
/*========Book-video-review */
.video-review{
    // padding-top: 5rem;
    background-color: #403f3f;
    .video-source-poster{
        video{
            width: 100%;
        }
    }
    .video-review-title{
        text-align: center;
        h2{
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: #f6f6f6;
        }
        p{
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: .1rem;
            color: #f6f6f6;
            text-align: center;
            padding: .5rem;
        }

    }
    .ready-to-buy{
        margin-top: 5rem;
        h2{
            font-size: 2rem;
            margin-bottom: 1rem;
            
            color: #f6f6f6;
        }
        p{
     
                font-size: 1.2rem;
                line-height: 1.5;
                letter-spacing: .1rem;
                color: #f6f6f6;
                text-align: center;
                padding: .5rem;

        }
    }
    .form-area form{
        input[type=text], input[type=email]{
            background-color: #4a4949;
            border-color: #717070;
        }
        input[type=submit]{
            background-color: #ffa366;
            color: #fff;
            font-size: 1.5rem;
        }

    }
}
/*============author area============*/
.author {
    .card h2{
        font-size: 1.8rem;
        color:#ffa366
    }
    h2{
        font-size: 1.8rem;
        color: 403f3f;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: .1rem;
        color: #373737;
    }
}
/*=================footer==========*/
.footer-section{
    background-color: #403f3f;
    .footer-area{
        h2{
            font-size: 1.8rem;
            margin-bottom: 1.8rem;
            color: #f6f6f6;
        }
        p{
            margin-bottom:1rem;
            color: #f6f6f6;
        }
        .btn{
            font-size: 1.2rem;
            color: #f7f7f7;
            background-color: #ffa366;
            padding: .5rem 2rem;
            &:hover{
                background-color: #e9782d;
            }
        }
        hr{
            border: 1px solid;
            border-color: #f6f6f6;
        }
         a{
            
            text-decoration: none;
            color:#ffffff;
            padding: .5rem;
            &:hover{
                color: #ffa366;
            }
        }
    }
}

/*=====media-query==========*/
@import 'partial-file/media-query';

